<br></br><br></br>
<div class="innerDiv">
	<table>
		<tr>
			<td>
				First Name :
			</td>
			<td>
				<p id="firstName">{{ customers.firstName}}</p>
			</td>
		</tr>
		<tr>
			<td>
				Last Name :
			</td>
			<td>
				<p id="lastName">{{ customers.lastName}}</p>
			</td>
		</tr>
		<tr>
			<td>
				Email :
			</td>
			<td>
				<p id="email">{{ customers.email}}</p>
			</td>
		</tr>
		<tr>
			<td>
				Contact No :
			</td>
			<td>
				<p id="phoneNumb">{{ customers.phoneNumb}}</p>
			</td>
		</tr>
		<tr>
			<td>
				Address :
			</td>
			<td>
				<p id="address">{{ customers.address}}</p>
			</td>
		</tr>
		<tr>
			<td>
				city :
			</td>
			<td>
				<p id="city">{{ customers.city}}</p>
			</td>
		</tr>
		<tr>
			<td>
				state :
			</td>
			<td>
				<p id="state">{{ customers.state}}</p>
			</td>
		</tr>
		<tr>
			<td>
				zipCode :
			</td>
			<td>
				<p id="zipCode">{{ customers.zipCode}}</p>
			</td>
		</tr>
	</table>
</div>